@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lora:ital,wght@0,700;1,700&family=Montserrat:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Regular'),
    local('NunitoSans-Regular'),
    url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('NunitoSans/nunito-sans-v6-vietnamese_latin-ext_latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}