/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bd83fb;
  --ifm-color-primary-dark: #5a007e;
  --ifm-color-primary-darker: #5a007e;
  --ifm-color-primary-darkest: #5a007e;
  --ifm-color-primary-medium: #975cd6;
  --ifm-color-primary-light: #bd83fb;
  --ifm-color-primary-lighter: #bd83fb;
  --ifm-color-primary-lightest: #d7b5ff;
  --ifm-code-font-size: 90%;
  --ifm-font-family-base: 'Nunito Sans', sans-serif;
  --ifm-heading-font-weight: 400;
  --ifm-global-shadow-lw: transparent;
  --ifm-toc-border-color: transparent;
  --primary-deep-500: #281f70;
  --secondary-500: #ed6d89;
  --warning-500: #ffc32b;
  --warning-700: #e3961b;
 }

h1 {
  font-size: var(--ifm-h1-font-size);
  margin-top: 1rem;
}

.error {
  color: var(--secondary-500);
}

.sm {
  font-size: 12px;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

label {
  font-weight: 500;
  color: #fafafa;
}

input {
  background-color: var(--ifm-color-primary-medium);
  color: #fafafa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0.5rem 0 0;
  border: none;
  width: 100%;
}

input:focus-visible {
  border: none;
}

.w-full {
  width: 100%;
}

.border-none {
  border: none;
}

input::-webkit-input-placeholder { /* Edge */
  color: var(--ifm-color-primary-lightest);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--ifm-color-primary-lightest);
}

input::placeholder {
  color: red;
  color: var(--ifm-color-primary-lightest);
}

fieldset {
  border: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ifm-color-primary-light);
  color: #fafafa;
  padding: 2rem;
  border-radius: 2.5rem;
}

@media screen and (max-width: 600px) {
  form {
    padding: 1.5rem 1.5rem 2.5rem;
  }
}

form,
.withHero {
  border-top: solid 4px var(--ifm-color-primary-medium);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form > button {
  background-color: #fafafa;
  color: var(--ifm-color-primary-medium);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  form > button {
    width: 100%;
  }
}

.pagination-nav__label {
  color: #fff;
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-color-primary-light);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.menu__link {
  outline: none !important;
}

.navbar__logo {
  margin-left: 0.5rem !important;
}

.squid {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  height: 190px !important;
  vertical-align: middle;
}

.squid-container {
  clear: both;
}

.markdown table td,
.markdown table tr,
.markdown table th {
  border-left: 0px;
  border-right: 0px;
}

.highlight {
  color: #bd83fb;
}

.comparison th,
.comparison table > tbody > tr > td:first-child {
  color: #bd83fb;
}

.schema {
  padding: 25px;
  border: 1px solid var(--ifm-color-primary-light);
  background-color: #242526;
  margin-bottom: 25px;
}

.brand-asset {
  height: 90px !important;
}

.brand-asset-sticker {
  height: 600px !important;
}

.white-container {
  padding: 15px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
}

.black-container {
  padding: 15px;
  background-color: black;
  display: inline-block;
  margin-bottom: 5px;
}

.notFoundImg {
  text-align: center;
  margin: 25px 0px;
}

.customTitle {
  margin-top: 8px;
}

.customTitle img {
  height: 60px;
  float: left;
  margin-top: 2px;
  margin-right: 15px;
}

.translateTodo {
  color: red !important;
}

.titlePic {
  margin-top: 15px;
}

.inline {
  display: flex;
  align-items: center;
}

.primary {
  color: var(--ifm-color-primary);
}

.chain {
  height: 50px !important;
  max-width: 200px !important;
  margin: 25px 0px 25px 0px;
}

.chainHeader {
  height: 50px !important;
  margin: 25px 0px -25px 0px;
}

.mainnetSoon {
  margin-left: 10px;
}
