/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be for docs. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bd83fb;
  --ifm-color-primary-dark: #5a007e;
  --ifm-color-primary-darker: #5a007e;
  --ifm-color-primary-darkest: #5a007e;
  --ifm-color-primary-medium: #975cd6;
  --ifm-color-primary-light: #bd83fb;
  --ifm-color-primary-lighter: #bd83fb;
  --ifm-color-primary-lightest: #d7b5ff;
  --ifm-code-font-size: 90%;
  --ifm-font-family-base: 'Montserrat', sans-serif;
  --ifm-font-weight-base: 500;
  --ifm-font-weight-normal: 500;
  --ifm-heading-font-weight: 400;
  --ifm-global-shadow-lw: transparent;
  --ifm-toc-border-color: transparent;
  --primary-deep-500: #281f70;
  --secondary-500: #ed6d89;
  --warning-500: #ffc32b;
  --warning-700: #e3961b;

  --ifm-background-color: rgb(245, 245, 245) !important;
  --ifm-navbar-background-color: rgba(245, 245, 245, 0.5) !important;

  --doc-sidebar-width: 300px !important;

  --ifm-menu-link-padding-horizontal: 0px;
}

[data-theme='dark'] {
  --ifm-background-color: #16102b !important;
  --ifm-navbar-background-color: transparent !important;
  --ifm-navbar-search-input-placeholder-color: var(--ifm-color-primary-lightest) !important;
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="%23d7b5ff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609,0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021,0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338,4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z" /></svg>');
  --ifm-menu-color-background-hover: transparent;
  --ifm-menu-color-background-active: transparent;
  --ifm-dropdown-background-color: #110a2dcc;
  --ifm-navbar-search-input-background-color: #000;

  --admonition-background-color: #110a2dcc;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--ifm-h1-font-size);
  margin-top: 1rem;
}

.error {
  color: var(--secondary-500);
}

.sm {
  font-size: 12px;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

label {
  font-weight: 500;
  color: #fafafa;
}

input {
  background-color: var(--ifm-color-primary-medium);
  color: #fafafa;
  border-radius: 1rem;
  padding: 1rem 2rem;
  border: none;
  width: 100%;
}

input:focus-visible {
  border: none;
}

.w-full {
  width: 100%;
}

.border-none {
  border: none;
}

input::-webkit-input-placeholder {
  /* Edge */
  color: var(--ifm-color-primary-lightest);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--ifm-color-primary-lightest);
}

input::placeholder {
  color: red;
  color: var(--ifm-color-primary-lightest);
}

fieldset {
  border: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--ifm-color-primary-light);
  color: #fafafa;
  padding: 2rem;
  border-radius: 2.5rem;
}

@media screen and (max-width: 600px) {
  form {
    padding: 1.5rem 1.5rem 2.5rem;
  }
}

form,
.withHero {
  border-top: solid 4px var(--ifm-color-primary-medium);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form > button {
  background-color: #fafafa;
  color: var(--ifm-color-primary-medium);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in-out;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  form > button {
    width: 100%;
  }
}

.navbar {
  z-index: 40;
}

.navbar .mask {
  mask: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0) 130%) add;
  backdrop-filter: blur(10px);
  @apply bg-gradient-to-b from-[#000000cc] via-[#000000aa] to-transparent;
}

.navbar__inner {
  z-index: 40;
}

.pagination-nav__label {
  color: var(--ifm-color-content-secondary);
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-color-primary-light);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @apply min-[997px]:backdrop-blur-md;
}

[data-theme='dark'] .navbar {
  @apply min-[997px]:bg-gradient-to-r min-[997px]:from-[#020204aa] min-[997px]:to-[#1c1047aa];
} */

.navbar__logo {
  margin-left: 0.8rem !important;
  height: 38px;
}

.navbar__search-input {
  @apply rounded-full;
  font-size: 14px;
  width: 12rem;
  height: 2.5rem;
  box-shadow:
    0 12px 12px #0000001f,
    inset 0 0 1px #f4f1fe1a;
  background-color: #f4f1fe0d;
  color: var(--ifm-color-primary-lightest);
}

.squid {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  height: 190px !important;
  vertical-align: middle;
}

.squid-container {
  clear: both;
}

.markdown table td,
.markdown table tr,
.markdown table th {
  border-left: 0px;
  border-right: 0px;
}

.highlight {
  color: #bd83fb;
}

.comparison th,
.comparison table > tbody > tr > td:first-child {
  color: #bd83fb;
}

.schema {
  padding: 25px;
  border: 1px solid var(--ifm-color-primary-light);
  background-color: #242526;
  margin-bottom: 25px;
}

.brand-asset {
  height: 90px !important;
}

.brand-asset-sticker {
  height: 600px !important;
}

.white-container {
  padding: 15px;
  background-color: white;
  display: inline-block;
  margin-bottom: 5px;
}

.black-container {
  padding: 15px;
  background-color: black;
  display: inline-block;
  margin-bottom: 5px;
}

.notFoundImg {
  text-align: center;
  margin: 25px 0px;
}

.customTitle {
  margin-top: 8px;
}

.customTitle img {
  height: 60px;
  float: left;
  margin-top: 2px;
  margin-right: 15px;
}

.translateTodo {
  color: red !important;
}

.titlePic {
  margin-top: 15px;
}

.inline {
  display: flex;
  align-items: center;
}

.primary {
  color: var(--ifm-color-primary);
}

.chain {
  height: 50px !important;
  max-width: 200px !important;
  margin: 25px 0px 25px 0px;
}

.checkmark {
  width: 30px;
}

table.wallet-table tr:nth-child(2n) {
  background-color: inherit;
}

table.wallet-table * {
  border-bottom: 0px;
  border-top: 0px;
}

.chainHeader {
  height: 50px !important;
  margin: 25px 0px -25px 0px;
}

.mainnetSoon {
  margin-left: 10px;
}

.schema2 {
  width: 90%;
  margin: 25px;
}

.ignoreP a:not(:last-child) {
  margin-right: 10px;
}
.ignoreP p {
  display: none !important;
}

.pitch img {
  margin-bottom: 10px;
}

/*
 Hotfix for https://lightrun.com/answers/prismjs-prism-toml-lang-line-breaks-on-section.
 Without it the `[features]` in code blocks that use `toml` as the syntax looks like this:
 ```
 [
 features
 ]
 ```
 */
@layer utilities {
  .table {
    display: initial;
  }
}

.attention {
  float: left;
  width: 15px;
  color: var(--ifm-color-primary);
  fill: var(--ifm-color-primary);
}

.titleSpace {
  margin-bottom: 20px;
}

.theme-doc-markdown img:first-of-type {
  @apply mt-4;
}

.theme-doc-markdown img {
  border-radius: 10px;
}

.theme-doc-sidebar-container {
  @apply !border-none;
}

.menu {
  @apply !px-8 !pt-6 text-sm;
}

.theme-doc-sidebar-container {
  @apply !border-none;
  position: relative;
}

.theme-doc-sidebar-container nav {
  mask-image: linear-gradient(to top, transparent 0%, black 30px);
  margin-bottom: 20px;
}

.menu__caret::before,
.menu__link--sublist-caret::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='transform: rotate(-90deg);' stroke='currentColor' fill='none' stroke-width='2' height='14' width='14' class='x:shrink-0 x:rounded-sm x:p-0.5 x:hover:bg-gray-800/5 x:dark:hover:bg-gray-100/5 x:motion-reduce:*:transition-none origin-center rtl:-rotate-270'%3E%3Cpath d='M9 5l7 7-7 7' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center center;
}

[data-theme='dark'] .gradient-purple {
  background: linear-gradient(330deg, #8648d9 25%, rgb(62, 35, 161) 41.232327298001124%, rgb(0, 0, 0) 77%);
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%);
}

/** BREADCRUMBS **/

.breadcrumbs__item:first-of-type a {
  padding: 0;
}

.breadcrumbs__item--active {
  background-color: rgba(244, 241, 254, 0.05);
  border-radius: 8px;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background-color: transparent;
  color: rgb(202, 194, 255) !important;
}

/* .framer-8rI4H .framer-9fo3k9 {
  place-content: center;
  align-items: center;
  background-color: rgba(244, 241, 254, 0.05);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column;
  gap: 10px;
  height: min-content;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  width: min-content;
  will-change: var(--framer-will-change-override, transform);
} */

.attention-box {
  background-color: rgba(189, 130, 253, 0.2);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
  padding: 15px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid rgba(189, 130, 253, 0.1);
}

/** SIDEBAR **/

.table-of-contents__link {
  padding: 4px;
  border: 3px dotted;
  border-color: transparent;
  padding: 8px;
  border-radius: 8px;
}
.table-of-contents__link--active,
.table-of-contents__link:hover {
  border-color: rgba(189, 130, 253, 0.5);
}

.table-of-contents li {
  margin: 2px;
}

li.theme-doc-sidebar-item-category-level-1 {
  background: linear-gradient(90deg, rgba(140, 124, 247, 0.1) 0%, rgba(255, 255, 255, 0) 84.6847%);
  /* padding: 14px; */
}

li.theme-doc-sidebar-item-category-level-1 > div a {
  font-weight: bold;
}

ul.menu__list {
  @apply divide-y divide-solid divide-[#8c7cf71a] divide-x-0;
}

ul.menu__list li a {
  padding: 14px;
}

/* first level menu */
[data-theme='dark'] .theme-doc-sidebar-item-category-level-1 > div > .menu__link:hover {
  background: linear-gradient(90deg, rgba(140, 124, 247, 0.1) 0%, rgba(255, 255, 255, 0) 84.6847%) !important;
  transform: translate3d(0px, 0, 0);
}

/* nested menu links */

.menu__link {
  transition: transform 0.3s ease-in-out;
  outline: none !important;
  border-radius: 0;
}

.menu__link:hover {
  transition: transform 0.15s ease-in-out;
  transform: translate3d(5px, 0, 0);
  color: var(--ifm-color-primary-lightest);
  background: transparent;
  /* background: linear-gradient(90deg, rgba(140, 124, 247, 0.1) 0%, rgba(255, 255, 255, 0) 84.6847%); */
}

.navbar-sidebar {
  @apply bg-black;
  z-index: 80;
}

/** SEARCH BAR **/
[class^='dropdownMenu_'] {
  /* Your styles here */
  color: var(--ifm-color-primary);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--ifm-dropdown-background-color) !important;
  @apply rounded-full !backdrop-blur-md;
  @apply !shadow-lg;
}

.table-of-contents__left-border {
  border: none;
}

[class^='dataset_'] [class^='suggestion_'] {
  background: transparent !important;
}

/** TOP NAV **/

.dropdown__menu {
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.kbd {
  background: #000 !important;
}

/** PAGINATION **/

.pagination-nav {
  box-shadow: 0 24px 24px #00000040;
  padding: 18px;
  background-image: linear-gradient(rgba(140, 124, 247, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.pagination-nav__info {
  font-size: 15px;
  font-weight: 700;
  color: rgb(224, 191, 255);
}

.pagination-nav__link {
  @apply !rounded-[18px];
  background: rgba(189, 130, 253, 0.1);
  border: transparent;
  flex: 1;
  transition: background 0.2s ease-in-out;
  height: auto;
}

.pagination-nav__link:hover {
  background: rgba(189, 130, 253, 0.2);
}

.pagination-nav__sublabel {
  font-size: 12px;
  color: rgb(218, 185, 249);
}

.pagination-nav__label {
  color: rgb(220, 215, 224);
  font-size: 16px;
  font-weight: 700;
}

.pagination-nav__label::before,
.pagination-nav__label::after {
  font-size: 18px;
  font-weight: 400;
  color: rgb(218, 185, 249);
}

/** ADMONITIONS **/

.theme-admonition {
  margin-bottom: 0 !important;
  padding: 1rem;
  background-color: inherit !important;
  border: 1px solid rgba(255, 255, 255, 0.06);
  font-weight: 500 !important;
}

.theme-admonition a {
  text-decoration-color: var(--heading-color) !important;
}

.theme-admonition a:hover {
  color: var(--heading-color) !important;
}

[class^='admonitionHeading_'] {
  font-family: 'Freude', sans-serif !important;
  font-size: 18px !important;
  color: var(--heading-color) !important;
}

[class^='admonitionIcon_'] {
  width: 26px !important;
  height: 26px !important;
}

[class^='admonitionIcon_'] svg {
  fill: currentColor !important;
  width: 24px !important;
  height: 24px !important;
}

.admonition-wrap {
  border: 1px solid rgba(189, 130, 253, 0.1) !important;
}

.admonition-wrap > div {
  border-radius: 8px !important;
}

.admonition-wrap-tip {
  background-color: rgba(129, 252, 186, 0.2) !important;
  --heading-color: rgb(129, 252, 145);
}

.admonition-wrap-caution {
  background-color: rgba(252, 232, 129, 0.2) !important;
  --heading-color: rgb(252, 232, 129);
}

.admonition-wrap-danger {
  background-color: rgba(252, 129, 129, 0.2) !important;
  --heading-color: rgb(252, 129, 129);
}

.admonition-wrap-info {
  background-color: rgba(129, 149, 252, 0.2) !important;
  --heading-color: rgb(129, 149, 252);
}

.admonition-wrap-note {
  background-color: rgba(189, 130, 253, 0.2) !important;
  --heading-color: rgb(189, 130, 253);
}

.admonition-wrap-color {
  background: linear-gradient(
    180deg,
    #2e0040 0%,
    rgba(106, 0, 117, 0.88) 51.80180180180181%,
    rgba(230, 0, 122, 0.66) 100%
  ) !important;
  --heading-color: rgb(189, 130, 253);
  border: 1px solid rgba(189, 130, 253, 0.1) !important;
  border-top: 0 !important;
}

.admonition-wrap-color > div {
  background: #bd82fd33 !important;
}
