.faucetContainer {
  width: 100%;
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 0.5rem;
  font-family: 'Montserrat';
}

.faucetHeroImage {
  width: 100%;
}

.faucetTitle {
  font-family: 'Montserrat';
  font-size: 42px;
  margin-bottom: -32px;
  font-weight: bold;
  text-align: center;
  color: var(--ifm-color-primary-light);
}

.faucetHeroContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  position: relative;
}

.faucetForm {
  text-overflow: ellipsis;
}

.faucetPlantContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -22px;
  z-index: 1;
}

.faucetPlantOne {
  position: relative;
  left: -22px;
}

.faucetPlantTwo {
  position: relative;
  right: -22px;
}

.faucetResultContainer {
  width: 100%;
  margin-top: 1.5rem;
}

.faucet-success {
  background-color: var(--warning-500);
  border-radius: 999px;
  padding: 8px;
}

.faucet-success-ic {
  border-radius: 999px;
  text-align: center;
  padding: 8px;
  border: solid 3px var(--warning-700);
}

.faucet-success-msg {
  margin: 0 0 4px;
  color: var(--ifm-color-primary-medium);
}

.faucet-success-cta {
  color: white;
  margin: 0;
}

.faucet-success-ic p {
  font-size: 18px;
  font-weight: bold;
}

.addressInput {
  border-radius: 1rem !important;
  -webkit-border-radius: 1rem !important;
}

.addressInput::placeholder {
  text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
  .faucetContainer {
    padding: 0 0;
  }

  .faucetTitle {
    font-size: 36px;
    margin-bottom: -28px;
  }

  .faucet-success-ic p {
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .faucetTitle {
    font-size: 32px;
    margin-bottom: 1rem;
  }

  .faucetPlantOne {
    display: none;
  }

  .faucetPlantTwo {
    display: none;
  }

  .faucetPlantContainer {
    margin-bottom: 0;
  }
}