html {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Freude', sans-serif;
}

h2 {
  font-size: 30px;
}

hr {
  background-color: rgba(189, 130, 253, 0.15);
}

hr.dotted {
  border-top: 3px dotted rgba(189, 130, 253, 0.1);
  margin: 30px 0;
  background: transparent;
}

.hamburger-react > div {
  height: 4px !important;
  box-shadow: 0 0 10px rgba(189, 130, 253, 0.5);
}
